.ViewSwitcher {
    width: 74px;
    height: 30px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--view-switcher-select-color);
    border-radius: var(--border-radius-small);
}

.ViewSwitcherButton {
    width: 37px;
    height: 30px;
    border-radius: var(--border-radius-small);
}

.active {
    background-color: var(--view-switcher-select-color);
}