.block {
    &:not(:first-child) {
        margin-top: 13px;
    }
}

.Info {
    &:not(:first-child) {
        margin-top: 13px;
    }
}

.avatar {
    flex-shrink: 0;
    object-fit: contain;
}

.InfoSeparator {
    position: relative;
    height: 5px;
    width: 5px;

    &::after {
        content: '';
        position: absolute;
        background-color: var(--sub-font-color);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        translate: -50% 0;
    }
}

.main {
    &:not(:first-child) {
        margin-top: 13px;
    }
}

.skeleton {
    margin-top: 15px;
}