@import 'app/styles/index';

.Select {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.buttonSelect {
    padding: 11px 23px;
    min-height: 40px;
    min-width: 93px;
    
    @include hover {
        background-color: var(--select-item-bg);
        opacity: 1;
    }
}

.readonly {
    @include hover {
        background-color: var(--select-bg);
        opacity: 0.7;
    }
}

.value {
    font: var(--font-inter-md-regular);
}

.buttonSelectOpen {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.arrowDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--main-font-color);
    font-size: 0;
    line-height: 0;
    float: left;
    transition: transform ease-in-out 0.3s;
}

.arrowSwap {
    transform: rotate(180deg);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}

.selectDropdownList {
    position: absolute;
    list-style: none;
    background-color: var(--select-bg);
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
    }

    li {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @include hover{
            background-color: var(--select-item-bg);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--select-item-border-bottom);
        }

        &:first-child {
            border-top: 1px solid var(--select-item-border-bottom);
        }

        label {
            width: 100%;
            cursor: pointer;
        }
    }

    &.iconList {
        margin-top: 10px;
        border-radius: var(--border-radius-small);

        li {
            &:not(:last-child) {
                border-bottom: none;
            }
    
            &:first-child {
                border-top: none;
            }
        }
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center {
    right: -50%;

}

.width-small {
    width: var(--select-width-small);
}

.width-medium {
    width: var(--select-width-medium);
}

.width-large {
    width: var(--select-width-large);
}

.height-small {
    height: var(--select-height-small);
}

.height-medium {
    height: var(--select-height-medium);
}

.height-large {
    height: var(--select-height-large);
}

.fillWidth {
    width: 100%;
}