@import 'app/styles/index';

.PLATE {
    position: relative;
    transition: transform 0.3s;

    --brightness: 1;

    &.articleGap {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        flex-shrink: 0;
    }

    .imageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .articleImage {
        object-fit: fill;
        width: 190px;
        height: 190px;
        border-radius: var(--border-radius-small);
    }
    
    .cardMeta {
        display: flex;
        justify-content: space-between;
        margin-top: var(--article-card-padding);
        align-items: center;
        column-gap: 4px;
    }
    
    .tags {
        flex-grow: 1;
        min-width: 1px;
    }
    
    .tags, .paragraphsTagsWrapper {
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    .viewWrapper {
        display: flex;
        column-gap: 5px;
        align-items: center;
        flex-grow: 1;
    }

    .date {
        position: absolute;
        top: 8px;
        left: 8px;
        display: none;
    }

    @include hover {
        opacity: 0.8;
        transform: scale(1.05);
        cursor: pointer;

        .date {
            display: inline-block;
        }
    }
}

.LIST {
    .article {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        height: 100%;
    }

    .meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .author {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
    }

    .imageWrapper {
        display: flex;
        justify-content: center;
    }

    .articleImage {
        object-fit: contain;
        min-width: 732px;
        max-width: 1200px;
        height: auto;
        max-height: 420px;
        border-radius: var(--border-radius-small);
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .viewWrapper {
        display: flex;
        column-gap: 5px;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }

    .textBlock {
        max-height: 50px;
        overflow-y: hidden;
    }
}

.plateCardLink {
    height: auto;
}