

.SideBar {
    height: calc(100vh - var(--NavBar-height));
    width: var(--sideBar-width);
    background-color: var(--theme-bg-color-inverted);

    position: relative;
    transition: width 0.3s;
}

.Close {
    width: var(--sideBar-width-close);
}

.switchers {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    column-gap: 20px;
}