.SideBar {
    background-color: var(--theme-bg-color-inverted);
    height: calc(100vh - var(--nav-bar-height));
    position: relative;
    transition: width 0.3s;
    width: var(--side-bar-width);
}

.Close {
    width: var(--side-bar-width-close);
}

.switchers {
    bottom: 20px;
    column-gap: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
