
.linkIcon {
    margin-top: -1.25px;
}

.fill-no-stroke {
    stroke: none;
    fill: var(--light-color);
}

.stroke-no-fill {
    stroke: var(--light-color);
    fill: none;
}

.Active {
    background-color: var(--green-grey-color-dark);
    border-radius: var(--border-radius-small);
}

.link {
    opacity: 1;
}

.linkItem {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.item {
    padding-left: 30px;
}

.Close {
    .link {
        opacity: 0;
        width: 0;
    }

}

.CloseItem {
    padding-left: 0;
    margin-inline: 11px;

    .linkItem {
        column-gap: 0;
    }
}