.FirstSectionMainPage {
    margin-top: 32px;
}

.catFloat {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.wrapperFloat {
    margin-top: 32px;
}

.floatText {
    display: inline;
}