@import 'app/styles/index';

.ListBox {
    position: relative;
    z-index: 2;
    font: var(--font-inter-md-regular);
}

.options {
    position: absolute;
    background-color: var(--select-bg);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    outline: none;
}

.optionsFlip {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.item {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid var(--select-item-border-bottom);
    }

    &:first-child {
        border-top: 1px solid var(--select-item-border-bottom);
    }
}

.itemFLip {
    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: 1px solid var(--select-item-border-bottom);
    }
}

.active {
    background-color: var(--select-item-bg);
}

.buttonHover {
    @include hover {
        background-color: var(--select-item-bg);
        opacity: 1;
    }
}

.buttonSelectOpen {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.buttonSelectOpenFlip {
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

.disabled {
    opacity: 0.3;
}

.selected {
    display: none;
}

.width-small {
    width: var(--select-width-small);
}

.width-medium {
    width: var(--select-width-medium);
}

.width-large {
    width: var(--select-width-large);
}

.height-small {
    height: var(--select-height-small);
}

.height-medium {
    height: var(--select-height-medium);
}

.height-large {
    height: var(--select-height-large);
}

.fillWidth {
    width: 100%;
}

