.text {
    display: inline-block;
}

.main {
    color: var(--main-font-color);
    
}

.black-white {
    color: var(--main-font-color);
    
}

.white {
    color: var(--light-color);
    
}

.white-gray {
    color: var(--sub-font-color-alt);
    
}

.gray {
    color: var(--gray-color);

}

.gray-light {
    color: var(--gray-color-light);
}

.error {
    color: var(--accent-color);
    
}

.inverted {
    color: var(--inverted-font-color);
}

.left,
.right,
.center {
    display: inline-block;
    width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    font: var(--font-inter-sm-regular);

}

.size_s_bold {
    font: var(--font-inter-sm-semibold);
    
}

.size_m {
    font: var(--font-inter-md-regular);

}

.size_m_bold {
    font: var(--font-inter-md-semibold);
    
}

.size_l {
    font: var(--font-inter-lg-regular);

}

.size_l_bold {
    font: var(--font-inter-lg-semibold);

}

.size_xl_title {
    font: var(--font-tuffy-md-bold);

}

.size_xxl_title {
    font: var(--font-inter-xxl-semibold)
}

.widthAuto {
    width: auto;
}
