.Drawer {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: flex-end;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: 3;

    .content {
        transform: translateY(0%);
    }
}

.sheet {
    z-index: 3;
    position: fixed;
    height: calc(100vh);
    width: 100vw;
    border-radius: 12px 12px 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}