.app_light_theme {
    --theme-bg-color: var(--color-light);
    --theme-bg-color-inverted: var(--color-dark);
    --theme-normal-font-color: var(--color-dark);
    --theme-normal-font-color-inverted: var(--color-light);
}