@import 'app/styles/index';

.Tab {
    background-color: transparent;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--tab-color);
    padding: 5px 30px;
    height: var(--tab-height);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tab-color);
    font: var(--font-inter-sm-regular);
    width: fit-content;

    @include hover {
        opacity: 0.7;
    }

}