.ArticleDetailsPage {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-inline: 67px;

    &.mobile {
        padding-inline: 10px;
    }
}

.recommendation {
    flex-wrap: nowrap;
    overflow: auto hidden;
    min-height: 280px;
}