@import 'app/styles/index';

.Button {
    cursor: pointer;
    color: var(--main-font-color);
    background-color: var(--bg-color);
    display: flex;
}

.outline {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.clear {
    @include reset-button;
}