
.NavBar {
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--bg-color);
    color: var(--main-font-color);
    padding-inline: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}