
.NavBar {
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--main-color);
    color: var(--main-font-color);
    padding-inline: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
