@import 'app/styles/index';

.Input {
    @include reset-button;

    color: var(--main-font-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius-small);
    font: var(--font-inter-md-regular);
    outline: none;
    padding: 8px 30px 8px 8px;
    background-color: var(--input-bg);

    &::placeholder {
        color: var(--gray-color);
    }

    &:focus {
        background-color: var(--input-active-bg);
    }

    @include hover {
        background-color: var(--input-active-bg);
    }
}

.readOnly {
    opacity: 0.7;

    @include hover {
        background-color: var(--input-bg);
    }

    &:focus {
        background-color: var(--input-bg);
    }
}

.inputWrapper {
    display: flex;
    position: relative;
}

.small {
    height: var(--input-height-s);
    width:  var(--input-width-s);
}

.medium {
    height: var(--input-height-m);
    width:  var(--input-width-m);
}

.large {
    height: var(--input-height-l);
    width:  var(--input-width-l);
    font: var(--font-inter-lg-regular);
}

.iconWrapper {
    position: relative;

    * {
        left: 8px;
    }
}

.iconSmall {
    padding-left: 28px;
}

.iconMedium {
    padding-left: 32px;
}

.iconLarge {
    padding-left: 36px;
}

.fullWidth {
    width: 100%;
}

.showPasswordButton {
    position: absolute;
    right: 0;
    top: 50%;
    translate: -50% -50%;
}

.emulatorCheckBox {
    @include flex-center;
    @include square(25px);
  
    position: relative;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    border-radius: 5px;
  
    &::after {
        @include abs-center;
        @include square(15px);

        content: '';
        background-color: var(--gray-color);
    }
  }

  .checkbox {
    width: 30px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition-duration: var(--transition-duration);
  
    &:checked ~ .emulatorCheckBox::after {
      display: inline-block;
    }
    
    &:not(:checked) ~ .emulatorCheckBox::after {
      display: none;
    }
    
}
  
  .emulatorRadioButton {
    @include flex-center;
    @include square(25px);
  
    position: relative;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    border-radius: 50%;
  
    &::after {
        @include abs-center;
        @include square(15px);

        content: '';
        background-color: var(--gray-color);
        border-radius: 50%;
    }
}

.radio {
    width: 30px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition-duration: var(--transition-duration);
  
    &:checked + .emulatorRadioButton::after {
      display: inline-block;
    }
    
    &:not(:checked) + .emulatorRadioButton::after {
      display: none;
    }
    
}

