

.AppLink {
    color: var(--light-color);
    height: var(--link-height);
}

.main-color {
    color: var(--main-color);
}

.white {
    color: var(--light-color);
}

.fullHeight {
    height: 100%;
}

.autoHeight {
    height: auto;
}

.fullWidth {
    width: 100%;
}