

.AppLink {
    color: var(--light-color);
    height: var(--link-height);

    &.fullWidth {
        width: 100%;
    }
}

.main-color {
    color: var(--main-color);
}

.white {
    color: var(--light-color);
}

.fullHeight {
    display: inline-block;
    height: 100%;
}

.autoHeight {
    height: auto;
}