.ProfileCard {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    
    &:first-child {
        margin-top: 18px;
    }

    &:not(:first-child) {
        margin-top: 24px;
    }
}

.option,
.personal {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.label {
    display: inline-block;
    width: auto;
}

.InputsWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.InputWrapper {
    display: flex;
    flex-direction: column;
}